<article class="anime-card" *ngIf="anime">
  <button
    class="heart"
    [class.active]="isFavorite()"
    (click)="toggleFavorite($event)">
    {{ isFavorite() ? '♥' : '♡' }}
  </button>

  <img
    [routerLink]="['/anime', anime.mal_id]"
    [src]="anime.images.jpg.image_url"
    [alt]="anime.title"
  />

  <div class="card-body">
    <h3>{{ anime.title }}</h3>

    <p>
      ⭐ {{ anime.score || 'N/A' }}
      <span>·</span>
      {{ anime.episodes || '?' }} ep.
    </p>

    <span class="tag">{{ anime.type || 'TV' }}</span>
  </div>
</article>


<div
  class="modal-backdrop"
  *ngIf="showLoginModal"
  (click)="closeLoginModal()">

  <section
    class="login-required-modal"
    (click)="$event.stopPropagation()">

    <div class="modal-icon">
      ♡
    </div>

    <h2>Inicia sesión para guardar favoritos</h2>

    <p>
      Para agregar animes a tu lista de favoritos necesitas iniciar sesión con una cuenta.
    </p>

    <div class="modal-actions">
      <button
        type="button"
        class="cancel-btn"
        (click)="closeLoginModal()">
        Cancelar
      </button>

      <button
        type="button"
        class="confirm-btn"
        (click)="goToLogin()">
        Iniciar sesión
      </button>
    </div>

  </section>

</div>