<header class="navbar">
  <a class="brand" routerLink="/">
    <span class="logo">▷</span>
    <span>AniVault</span>
  </a>

  <div class="nav-right">
    <nav class="nav-links">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        Inicio
      </a>

      <a routerLink="/top" routerLinkActive="active">
        Top
      </a>

      <a routerLink="/favoritos" routerLinkActive="active">
        Favoritos
      </a>

      <a
        *ngIf="!authService.loggedIn()"
        routerLink="/login"
        routerLinkActive="active">
        Iniciar sesión
      </a>

      <button
        *ngIf="authService.loggedIn()"
        type="button"
        class="logout-btn"
        (click)="logout()">
        Cerrar sesión
      </button>
    </nav>

    <button
      type="button"
      class="theme-toggle"
      [class.dark]="themeService.isDark()"
      (click)="themeService.toggleTheme()"
      [attr.aria-label]="themeService.isDark() ? 'Activar modo claro' : 'Activar modo oscuro'">

      <span class="toggle-icon sun">☀️</span>
      <span class="toggle-icon moon">🌙</span>
      <span class="toggle-thumb"></span>

    </button>
  </div>
</header>